html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.fighters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.name {
  align-self: center;
  font-size: 21px;
  margin-top: 20px;
}

.fighter-image {
  height: 260px;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}

.modal {
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ab3428;
  padding: 20px;
  border-radius: 10%;
  font-size: 20px;
}

.modal-title {
  text-align: center;
  font-family: "Monoton", cursive;
  font-size: 45px;
  text-transform: uppercase;
  color: #f49e4c;
  color: transparent;
  background: linear-gradient(7deg, #f5ee9e 50%, #f49e4c 0);
  -webkit-background-clip: text;
}

li {
  list-style: none;
  font-family: "Orbitron", sans-serif;
  color: rgb(182, 177, 177);
  text-shadow: 3px 2px black;
}

.btn,
.fight-btn {
  float: right;
  color: #551515;
  margin-right: 35px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f3c83b;
  border: 1px solid #494949;
  border-radius: 15 px;
}

.btn:hover,
.fight-btn:hover {
  background: #f1f368;
  transition: all 0.4s ease 0s;
}

.modal__close-btn {
  float: right;
  font-size: 18px;
  background: rgb(58, 8, 56);
  color: #ffffff;
}

.modal__close-btn:hover {
  background: rgb(88, 74, 74);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
